{% extends 'parent.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Hero Section</title>
    {% endblock %}

    {% block style %}
        <style>

        </style>
    {% endblock %}
</head>
<body>
    {% block navbar %}{% endblock %}
    {% block footer %}{% endblock %}

    {% block content %}
    <section class="hero-section">
        <div class="hero-images">
            <a href="#"><img src="{% static 'images/hero-section-1.png' %}" alt="hero-image" class="hero-image"></a>
            <a href="#"><img src="{% static 'images/hero-section-2.png' %}" alt="hero-image" class="hero-image"></a>
            <a href="#"><img src="{% static 'images/hero-section-3.png' %}" alt="hero-image" class="hero-image"></a>
        </div>

        <button class="hero-slider-button prev">&#10094;</button>
        <button class="hero-slider-button next">&#10095;</button>
    </section>
    {% endblock %}
    
</body>
</html>