{% extends 'parent.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Homepage</title>
    {% endblock %}

    {% block style %}
        <style>

        </style>
    {% endblock %}
</head>
<body>
    {% block content %}
        {% include 'nav.html' %}
        {% include 'hero-section.html' %}
        <h1 style="margin: 50px; font-size: 40px;">Initialization.</h1>
        
        <main class="main-products-section">
            <div class="products-section-container flex">
                {% for product in products %}
                    <div class="product-card flex">
                        
                    </div>
                {% endfor %}
            </div>
        </main>
    {% endblock %}
</body>
</html>