{% extends 'parent.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Homepage</title>
    {% endblock %}

    {% block style %}
        <style>
        
        </style>
    {% endblock %}
</head>
<body>
    {% block content %}
        <section class="hero-slider">

            <div class="slides">
                <img src="{% static 'images/hero-section-1.png' %}" class="slide">
                <img src="{% static 'images/hero-section-2.png' %}" class="slide">
                <img src="{% static 'images/hero-section-3.png' %}" class="slide">
            </div>

            <button class="btn prev">&#10094;</button>
            <button class="btn next">&#10095;</button>

        </section>
        
        <a href="#" style="background-color: wheat; padding: 10px; margin: 30px;">Add Products</a>
        {% if error_ %}
            <h4 style="margin-left: 30px;">{{error_}}</h4>
        {% endif %}
        
    {% endblock %}
    
</body>
</html>