{% extends 'parent.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Login</title>
    {% endblock %}
    {% block style %}
        <style>
            
        </style>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="login-section">
            <form action="{% url 'login' %}" method="post" class="login-form">
                {% csrf_token %}
                <h2>Log into ShopiGo</h2>
                <div class="input-div">
                    <label for="email">Enter Email address</label>
                    <input type="text" id="email" name="email">
                </div>

                <div class="input-div">
                    <label for="password">Enter Password</label>
                    <input type="password" id="password" name="password">
                </div>
                
                <div class="input-div submit-button-div">
                    {% if error_message %}
                    <p class="error-message">{{error_message}}</p>
                    {% endif %}
                    <button type="submit" class="submit-button">Login</button>
                    <a href="{% url 'forgot-password' %}" class="forgot-password-a">Forgot Password ?</a>
                </div>

                <a href="{% url 'signup' %}" class="create-new-acc-a">New on ShopiGo ?</a>
            </form>
        </div>
    {% endblock %}
</body>
</html>