{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Parent</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
    <style>
        
    </style>
</head>
<body>
    <!-- Navbar -->
    {% block navbar %}
    <nav class="nav-section flex">
        <a href="/" class="logo-a"><img src="{% static 'images/logo-3.png' %}" alt="Logo" class="logo"></a>

        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Kids</a>
        <a href="#">Professional</a>
        <a href="#">Old Money</a>
        <a href="#">Wedding</a>

        <div class="flex search-bar-div">
            <input type="search" id="search-bar" class="search-bar" placeholder="Search Items">
            <button class="search-button"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
        </div>
        
        {% if request.session.email %}
            <a href="#"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="#"><img src="{{request.session.profile_image}}" alt="Profile" class="profile-image"></a>
        {% else %}
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    {% endblock %}
    
    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer Part -->
    {% block footer %}
    <footer class="footer-section">
        <button class="back-to-top-button">Back to top</button>
        
        <div class="footer-quick-links flex">
            <div class="footer-part flex">
                <h3>About</h3>
                <a href="#">Contact Us</a>
                <a href="#">About Us</a>
                <a href="#">Careers</a>
                <a href="#">Blog</a>
                <a href="#">ShopiGo Stories</a>
                <a href="#">Investor Relations</a>
            </div>
            <div class="footer-part flex">
                <h3>Make money with us</h3>
                <a href="#">Sell products on ShopiGo</a>
                <a href="#">Sell apps on ShopiGo</a>
                <a href="#">Get ShopiGo bussiness membership</a>
                <a href="#">Advertise your products</a>
                <a href="#">Self-publish with us</a>
            </div>
            <div class="footer-part flex">
                <h3>Help</h3>
                <a href="#">Your Account</a>
                <a href="#">Your Orders</a>
                <a href="#">Payments</a>
                <a href="#">Shippings</a>
                <a href="#">Cancellation & Returns</a>
                <a href="#">FAQ</a>
                <a href="#">Customer Support</a>
            </div>
            <div class="footer-part flex">
                <h3>Customer policies</h3>
                <a href="#">Terms of Use</a>
                <a href="#">Cancellation & Returns</a>
                <a href="#">Security</a>
                <a href="#">Privacy Policy</a>
            </div> 
        </div>
        
        <div class="sub-footer flex">
            <div class="social-media-div flex">
                <img src="{% static 'images/logo-2.png' %}" alt="Logo" class="logo">
                <a href="#"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                <a href="#"><i class="fa-brands fa-square-facebook social-media-icon"></i></a>
                <a href="#"><i class="fa-brands fa-youtube social-media-icon"></i></a>
            </div>
            <div class="copyright-div"><i class="fa-regular fa-copyright"></i> 2026 www.ShopiGo.com. All rights reserved.</div>
        </div>

    </footer>
    {% endblock %}

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>