{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Parent</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="nav-section flex">
        <a href="/" class="logo-a"><img src="{% static 'images/logo-1.png' %}" alt="Logo" class="logo"></a>

        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Kids</a>
        <a href="#">Professional</a>
        <a href="#">Old Money</a>
        <a href="#">Wedding</a>

        <div class="flex search-bar-div">
            <input type="search" id="search-bar" class="search-bar" placeholder="Search Items">
            <button class="search-button"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
        </div>
        
        {% if request.session.email %}
            <a href="#"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="#"><img src="{{request.session.profile_image}}" alt="Profile" class="profile-image"></a>
        {% else %}
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    {% endblock %}
    
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>